<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" #content>
  <soundcloud-player fxFlex fxFlex.lt-md="100" [mode]="'kosmosmusic'"></soundcloud-player>
  <div fxFlex="0 1 auto" fxHide.lt-md="true" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.lt-md="center stretch">
    <div class="fb-page" [ngStyle]="{'width': '360px'}" data-href="https://www.facebook.com/KosMosMusicRU/" data-tabs="timeline" data-width="360" data-height="4000" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/KosMosMusicRU/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/KosMosMusicRU/">KOS.MOS.MUSIC</a>
      </blockquote>
    </div>
  </div>
</div>
