<span fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start">
	<div fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" class="mat-body-1" [ngStyle]="{'padding': '5px'}">
		<p>{{ 'services.paragraph1' | translate }}</p>
		<p>{{ 'services.paragraph2' | translate }}</p>
		<p>{{ 'services.paragraph3' | translate }}</p>
	</div>
	<soundcloud-player fxFlex="50" fxFlex.lt-md="100" [mode]="'kosmoslab'"></soundcloud-player>
	<!--
	<iframe fxFlex="50" fxFlex.xs="100" fxFlex.sm="100" fxFlexFill scrolling="no" frameborder="0" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/217740895&amp;color=%23ffc107&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true" contentloaded (loadedcallback)="contentLoaded()"></iframe>
	-->
</span>
