<div fxFlex="100" fxLayout="row wrap" fxLayoutAlign="start start" #content>
	<div fxFlex *ngIf="showBandcampGrid">
		<mat-grid-list [cols]="gridColumns" rowHeight="1:1">
			<mat-grid-tile *ngFor="let releaseCode of bandcampAlbumsDataKeys; let j = index">
				<img *ngIf="j >= bcIframeCounter && j > bcMaxCounter" [ngStyle]="{'max-width': '125px', 'width': '60%'}" src="./img/kosmos_circle.svg">
				<iframe style="border: 0; width: 100%; height: 100%;" bcwidgetsrc="{{bcIframeUrl(releaseCode)}}" (loadedcallback)="incrementLoadingCounter()" *ngIf="j <= bcIframeCounter && j <= bcMaxCounter">
					<a href="{{bcAnchorUrl(releaseCode)}}">{{releaseCode}}</a>
				</iframe>
			</mat-grid-tile>
		</mat-grid-list>
	</div>
	<div fxFlex fxFlex.lt-md="100" *ngIf="!showBandcampGrid">
		<iframe fxFlex="100" fxFlexFill scrolling="no" frameborder="0" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/403059&amp;color=%23ffc107&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true"></iframe>
	</div>
	<div fxFlex="0 1 auto" fxFlex.lt-md="1 1 auto" fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutAlign.lt-md="center stretch">
		<div class="fb-page" [ngStyle]="{'width': '380'}" data-href="https://www.facebook.com/KosMosMusicRU/" data-tabs="timeline" data-width="380" data-height="3500" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/KosMosMusicRU/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/KosMosMusicRU/">KOS.MOS.MUSIC</a></blockquote></div>
	</div>
</div>
