<mat-toolbar color="primary">
	<span fxLayout="row" fxLayoutAlign="start stretch">
		<mat-icon svgIcon="logo-square" class="material-icons" alt="{{ 'title' | translate }}" title="{{ 'title' | translate  }}"></mat-icon>
	</span>
	<span fxFlex="1 1 auto" fxHide [fxHide.md]="false" [fxHide.lg]="false" [fxHide.xl]="false"></span>
	<span fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="center center" class="nohover" [fxHide.md]="true" [fxHide.lg]="true" [fxHide.xl]="true">
		<span fxFlex="0 1 auto" *ngIf="navButtonsState[0]">
			{{ 'title' | translate }}
		</span>
		<span fxFlex="0 1 auto" *ngIf="navButtonsState[1]">
			{{ 'mastering' | translate }}
		</span>
		<span fxFlex="0 1 auto" *ngIf="navButtonsState[2]">
			{{ 'mixes' | translate }}
		</span>
		<span fxFlex="0 1 auto" *ngIf="navButtonsState[3]">
			{{ 'videos' | translate }}
		</span>
		<span fxFlex="0 1 auto" *ngIf="navButtonsState[4]">
			{{ 'about' | translate }}
		</span>
	</span>
	<span class="mat-toolbar-tools">

		<button [routerLink]="['index']" (click)="switchNavButtons($event, 'index');" mat-button [color]="navButtonsState[0] ? 'accent' : null" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="{{ 'home' | translate }}" matTooltipPosition="below">
			<mat-icon fontSet="fas" fontIcon="fa-home" class="material-icons-fas"></mat-icon>
			{{ 'home' | translate }}
		</button>
		<button [routerLink]="['mastering']" (click)="switchNavButtons($event, 'mastering')" mat-button [color]="navButtonsState[1] ? 'accent' : null" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="{{ 'mastering' | translate }}" matTooltipPosition="below">
			<mat-icon fontSet="fas" fontIcon="fa-file-audio" class="material-icons-fas"></mat-icon>
			{{ 'mastering' | translate }}
		</button>
		<button [routerLink]="['mixes']" (click)="switchNavButtons($event, 'mixes')" mat-button [color]="navButtonsState[2] ? 'accent' : null" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="{{ 'mixes' | translate }}" matTooltipPosition="below">
			<mat-icon fontSet="fab" fontIcon="fa-mixcloud" class="material-icons-fab"></mat-icon>
			{{ 'mixes' | translate }}
		</button>
		<button [routerLink]="['videos']" (click)="switchNavButtons($event, 'videos')" mat-button [color]="navButtonsState[3] ? 'accent' : null" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="{{ 'videos' | translate }}" matTooltipPosition="below">
			<mat-icon fontSet="fab" fontIcon="fa-youtube" class="material-icons-fab"></mat-icon>
			{{ 'videos' | translate }}
		</button>
		<button [routerLink]="['about']" (click)="switchNavButtons($event, 'about')" mat-button [color]="navButtonsState[4] ? 'accent' : null" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="{{ 'about' | translate }}" matTooltipPosition="below">
			<mat-icon fontSet="fas" fontIcon="fa-info" class="material-icons-fas"></mat-icon>
			{{ 'about' | translate }}
		</button>
		<button mat-icon-button [matMenuTriggerFor]="languageMenu" [fxHide.xs]="true" [fxHide.sm]="true" matTooltip="{{ 'language.title' | translate }}" matTooltipPosition="below">
			<mat-icon fontSet="fas" fontIcon="fa-globe" class="material-icons-fas"></mat-icon>
		</button>
		<mat-menu #languageMenu="matMenu" [fxHide.xs]="true" [fxHide.sm]="true">
			<button mat-menu-item *ngFor="let lang of supportedLanguages" [ngClass]="{selected: isLanguageSelected(lang.key)}" (click)="selectLanguage(lang.key)">{{ 'language.' + lang.key | translate}}</button>
		</mat-menu>

		<button mat-icon-button [matMenuTriggerFor]="mobileMenu" [fxHide.md]="true" [fxHide.lg]="true" [fxHide.xl]="true">
			<mat-icon fontSet="fas" fontIcon="fa-ellipsis-v" class="material-icons-fas"></mat-icon>
		</button>
		<mat-menu #mobileMenu="matMenu" [fxHide.md]="true" [fxHide.lg]="true">
			<span [routerLink]="['index']" (click)="switchNavButtons($event, 'index')" mat-menu-item [disabled]="navButtonsState[0]">
				<mat-icon fontSet="fas" fontIcon="fa-home" class="material-icons-fas"></mat-icon> {{ 'home' | translate }}
			</span>
			<mat-divider></mat-divider>
			<mat-divider></mat-divider>
			<span [routerLink]="['mastering']" (click)="switchNavButtons($event, 'mastering')" mat-menu-item [disabled]="navButtonsState[1]">
				<mat-icon fontSet="fas" fontIcon="fa-file-audio" class="material-icons-fas"></mat-icon> {{ 'mastering' | translate }}
			</span>
			<mat-divider></mat-divider>
			<span [routerLink]="['mixes']" (click)="switchNavButtons($event, 'mixes')" mat-menu-item [disabled]="navButtonsState[2]">
				<mat-icon fontSet="fab" fontIcon="fa-mixcloud" class="material-icons-fab"></mat-icon> {{ 'mixes' | translate }}
			</span>
			<mat-divider></mat-divider>
			<span [routerLink]="['videos']" (click)="switchNavButtons($event, 'videos')" mat-menu-item [disabled]="navButtonsState[3]">
				<mat-icon fontSet="fab" fontIcon="fa-youtube" class="material-icons-fab"></mat-icon> {{ 'videos' | translate }}
			</span>
			<mat-divider></mat-divider>
			<span [routerLink]="['about']" (click)="switchNavButtons($event, 'about')" mat-menu-item [disabled]="navButtonsState[4]">
				<mat-icon fontSet="fas" fontIcon="fa-info" class="material-icons-fas"></mat-icon> {{ 'about' | translate }}
			</span>
			<mat-divider></mat-divider>
			<span mat-menu-item [disabled]="true">
				<mat-icon fontSet="fas" fontIcon="fa-globe" class="material-icons-fas"></mat-icon> {{ 'language.title' | translate }}
			</span>
			<span fxFlex fxLayout="row" fxLayoutAlign="center center">
				<button mat-button *ngFor="let lang of supportedLanguages" [disabled]="isLanguageSelected(lang.key)" (click)="selectLanguage(lang.key)">{{ 'language.' + lang.key | translate}}</button>
			</span>
		</mat-menu>

	</span>
</mat-toolbar>
