<md-toolbar flex class="md-toolbar-tools md-medium" layout="row" ng-controller="navController">
	<md-button id="sidebar-toggler" class="md-icon-button hide-md hide-gt-md hide-lg hide-gt-lg hide-xl" title="toggle tracks list" ng-click="toggleSidenav()" ng-disabled="disableToggler()" ng-hide="disableToggler()" aria-label="toggle sidebar">
		<i class="fa" ng-class="{'fa-chevron-right': !isSidenavOpen(), 'fa-chevron-left': isSidenavOpen()}"></i>
	</md-button>
	<h1 class="hide-xs hide-gt-xs hide-sm hide-gt-sm show-md show-gt-md show-lg show-gt-lg show-xl">
		<img class="logo" alt="logo" title="{{title}}" src="img/kosmos_circle.svg"/>
	</h1>
	<span class="splitter" layout="row" layout-align="center center">
		<img class="logo hide-md hide-gt-md hide-lg hide-gt-lg hide-xl" alt="logo" title="{{title}}" src="img/kosmos_circle.svg"/>
	</span>
	<a md-button ng-href="{{button.index.href}}" ng-class="{selected: selectButton(button.index.href)}" title="{{button.index.title}}" class="hide-xs hide-sm">
		<i class="{{button.index.icon}}"></i> {{button.index.name}}
	</a>
	<a md-button ng-href="{{button.releases.href}}" ng-class="{selected: selectButton(button.releases.href)}" title="{{button.releases.title}}" class="hide-xs hide-sm">
		<i class="{{button.releases.icon}}"></i> {{button.releases.name}}
	</a>
	<a md-button ng-href="{{button.mastering.href}}" ng-class="{selected: selectButton(button.mastering.href)}" title="{{button.mastering.title}}" class="hide-xs hide-sm">
		<i class="{{button.mastering.icon}}"></i> {{button.mastering.name}}
	</a>
	<a md-button ng-href="{{button.mixes.href}}" ng-class="{selected: selectButton(button.mixes.href)}" title="{{button.mixes.title}}" class="hide-xs hide-sm">
		<i class="{{button.mixes.icon}}"></i> {{button.mixes.name}}
	</a>
	<a md-button ng-href="{{button.videos.href}}" ng-class="{selected: selectButton(button.videos.href)}" title="{{button.videos.title}}" class="hide-xs hide-sm">
		<i class="{{button.videos.icon}}"></i> {{button.videos.name}}
	</a>
	<a md-button ng-href="{{button.about.href}}" ng-class="{selected: selectButton(button.about.href)}" title="{{button.about.title}}" class="hide-xs hide-sm" ng-if="!firebase.isSignedIn">
		<i class="{{button.about.icon}}"></i> {{button.about.name}}
	</a>
	<md-menu class="hide-md hide-lg hide-xl primary">
		<md-button aria-label="Open navigation menu" class="md-icon-button" ng-click="$mdMenu.open()">
			<i class="fa fa-bars"></i>
		</md-button>
		<md-menu-content id="dropdown-menu">
			<md-menu-item>
				<a md-button ng-href="{{button.index.href}}" ng-class="{selected: selectButton(button.index.href)}" title="{{button.index.title}}">
					<i class="{{button.index.icon}}"></i> {{button.index.name}}
				</a>
			</md-menu-item>
			<md-menu-item>
				<a md-button ng-href="{{button.releases.href}}" ng-class="{selected: selectButton(button.releases.href)}" title="{{button.releases.title}}">
					<i class="{{button.releases.icon}}"></i> {{button.releases.name}}
				</a>
			</md-menu-item>
			<md-menu-item>
				<a md-button ng-href="{{button.mastering.href}}" ng-class="{selected: selectButton(button.mastering.href)}" title="{{button.mastering.title}}">
					<i class="{{button.mastering.icon}}"></i> {{button.mastering.name}}
				</a>
			</md-menu-item>
			<md-menu-item>
				<a md-button ng-href="{{button.mixes.href}}" ng-class="{selected: selectButton(button.mixes.href)}" title="{{button.mixes.title}}">
					<i class="{{button.mixes.icon}}"></i> {{button.mixes.name}}
				</a>
			</md-menu-item>
			<md-menu-item>
				<a md-button ng-href="{{button.videos.href}}" ng-class="{selected: selectButton(button.videos.href)}" title="{{button.videos.title}}">
					<i class="{{button.videos.icon}}"></i> {{button.videos.name}}
				</a>
			</md-menu-item>
			<md-menu-item>
				<a md-button ng-href="{{button.about.href}}" ng-class="{selected: selectButton(button.about.href)}" title="{{button.about.title}}">
					<i class="{{button.about.icon}}"></i> {{button.about.name}}
				</a>
			</md-menu-item>
		</md-menu-content>
	</md-menu>
</md-toolbar>
