<div fxFlex="100" fxLayout="row" fxLayoutAlign="center stretch">
  <div fxLayoutFill fxFlex="100" fxLayout="row" fxLayoutAlign="center stretch">
    <span fxFlex="1 1 auto"></span>

    <div
      class="fb-page"
      [ngStyle]="{ width: '500px' }"
      data-href="https://www.facebook.com/KosMosMusicRU/"
      data-tabs="timeline"
      data-width="500"
      data-height="4000"
      data-small-header="false"
      data-adapt-container-width="true"
      data-hide-cover="false"
      data-show-facepile="true"
    >
      <blockquote cite="https://www.facebook.com/KosMosMusicRU/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/KosMosMusicRU/">KOS.MOS.MUSIC</a>
      </blockquote>
    </div>

    <span fxFlex="1 1 auto"></span>
  </div>
</div>
